*.txt
src/ch4/nospam/text
ori
./opencv/
.scannerwork/
.ipynb_checkpoints/
__pycache__/
.ipynb_checkpoints/
jawiki-latest-pages-articles*
wiki*
*.zip
*.tar.gz
*.model
markov_dict.json
.DS_Store
*.pickle
__MACOSX
ETL1
png-etl1
