jupyter
numpy
numexpr
pandas
matplotlib
scipy
statsmodels
scikit-learn
tensorflow
keras
autopep8
opencv-python
opencv-contrib-python
mecab-python3
unidic-lite
gensim
python-Levenshtein
pydot
graphviz
